.main{
    background: radial-gradient(#e5e5e5, #fff, #e5e5e5);
    height: 100%;
    width: 100%;
    margin-top: 70px;
}


blockquote {
    color: #666;
    margin: 0;
    padding: 2em;
    border-left: 0.5em rgb(255, 103, 65) solid;
    background-color: rgb(214, 255, 243);

}

img {
    height: 35rem;
    width: 95%;
    /* margin: 1rem; */
}